<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Verification</title>
</head>
<body><center>
  <h2>Check Password</h2>
<fieldset style="width:30%">
  <form method="post" action="{% url 'password' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td><strong><label>Enter Password :</label></strong></td>
        <td><input type="password" name="pwd" id="pwd" required></td>
      </tr>
      <tr>
       <td> <strong><label>Enter Confirm Password :</label></strong></td>
        <td><input type="password" name="cpwd" id="cpwd" required></td>
      </tr>
      <tr>
        <td colspan="2" align="center"><input type="submit" value="Submit"></td>
      </tr>
    </table>
  </form>
</fieldset>
  <h2>{{ c }}</h2>
</center>
</body>
</html>