{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Sathya Technology</title>
  <style>
    body{
    text-align:center;
    }
    h1{
    color:blue;

    }
    h2{
    color:blue;
    }
    hr{
    height:2px;
    color:red;
    }
    .span{
    color:red;
    }
    .span1{
    color:red;
    }
    .img{
    width=200px;
    height=200px;
    }
    .space{
    padding:5%;
    }
  </style>
</head>
<body>
<div>
  <h1 align="center">SATHYA TECHNOLOGY</h1><hr>
</div>
<div class="space">
  <img class="img" src="{%static 'images/image2.jpg' %}" alt="Panda" >
  <img src="{%static 'images/image3.jpg' %}" alt="Python" >
  <img  src="{%static 'images/image4.jpg' %}" alt="Don't Worry" >
  <img src="{%static 'images/image5.jpg' %}" alt="python course" >
</div>
<footer>
  <h2 class="span">Worry about Python Course?</h2>
  <h2>Don't Worry Attend <span class="span1">Venkat Reddy Sir </span>Classes</h2>
</footer>


</body>
</html>